# Nukopijuok šį failą į .env ir užpildyk reikšmes
# Šis failas yra saugus – jame nėra tikrų slaptažodžių

DB_URL=jdbc:postgresql://localhost:5432/feelsent_db
DB_USERNAME=postgres
DB_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=

JWT_SECRET=
